<ion-header>
  <ion-toolbar>
    <ion-title>offers</ion-title>
    <ion-buttons slot="icon-only">
      <ion-button routerLink="/places/tabs/offers/new">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-list>
          <ion-item
            *ngFor="let offer of offers"
            [routerLink]="['/', 'places', 'tabs', 'offers', offer.id]"
          >
            <ion-thumbnail slot="start">
              <ion-img [src]="offer.imageUrl"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h1>{{ offer.title }}</h1>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
